body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

a {
	color: #fda703;
}

h1 {

	text-align: center;
	color: #6aa9d4;
}

h2 {
	color: #fda703;
}

h3 {
	padding-bottom: 0;
	color: #8aa9d4;
}

h4 {
	padding-top: 0;
	font-style: italic;
}

p {
	color: #2f2f2f;
}

.row {
	margin-bottom: 15px;
}

.header {
	text-align: center;
	margin-top: 15px;
}

.sidebar {
	color: #ffffff;
	background-color: #6aa9d4;
	padding: 6px;
}

.socialBtn {
	display: inline-block;
	margin-left: 13px;
	margin-top: 15px;
}

.socialBtn img {
	margin: 0
	margin-left: 4px;
	margin-right: 4px;
}

.socialBtn img:hover {
	opacity: 0.5;
}

.nav a {
	color: #ffffff;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav li {
	display: inline;
	width: 120px;
}

.skillslist {
	font-family: 'Open Sans', sans-serif;
	border-width: 10px;
	border-style: solid;
	border-color: #6aa9d4;
	padding-left: 15px;
	padding-right:15px;
	padding-bottom: 20px;
}

.skillslist ul {
	text-align: center;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.skillslist li {
	display: inline;
	padding-top: 0;
	padding-bottom: 0;
}

.skillslist h2 {
	text-align: center;
	margin-bottom: 8px;
}

.section .mainContainer h4 {
	margin-top: 2px;
	margin-bottom: 0;
	padding: 0;

}

.section .mainContainer h3 {
	margin: 0;
	padding: 0;

}

.section .mainContainer p {
	margin-top: 4px;
	padding: 0;

}

.footer {
	margin-top: 15px;
	padding-top: 30px;
	padding-bottom: 15px;
	text-align: center;
	background-color: #fda703;
}

.footer p {
	color: #ffffff;
	padding-top: 10px;
}

/*.textArea {
	position: relative;
}

.sidebar {
	bottom: 0;
	top: 0;
	position: absolute;
}*/